<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show</title>
        <script src="passwordServer.js"></script>
        <link rel="stylesheet" href="password.css">
    </head>
    <body>
            <h2>Here is a table of all your hashed passwords</h2>
            <div>
                <%- passwordTable %>
            </div> 

    </body>
</html>