<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Page</title>
        <script src="passwordServer.js"></script>
        <link rel="stylesheet" href="password.css">
    </head>
    <body>

        <h2>Password Protection Page</h2>
        <p>We are here to assist you with your password protection</p>
        <p>Fill out the form below</p>
    <form method="post" action="/encryption">
        <fieldset>
            Enter a password you want to be protected and hashed
            <input type="text" name="password" placeholder="XYZ123" id="password"> <input type="submit" id="encryption" value="Enter"> <br>
        </fieldset>
    </form>

    <p>Reset the Database</p>
    <form action="/resetDatabase" method="post" onsubmit="return confirm('Are you sure you want to reset the database? This action cannot be undone.');">
        <button type="submit">Reset Database</button>
    </form>


    

    </body>
</html>