<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Protector and Hasher</title>
        <link rel="stylesheet" href="password.css">
        <script src="passwordServer.js"></script>
    </head>
    <body>
        <h2 class="centertext">Thank You For Signing Up</h2>
        <p>Click here to go back to the <a href="/">home page</a></p>
    </body>
</html>